<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:gap = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "com.ajsoftware.lynda.samoca"
    versionCode = "1"
    version = "1.0">
    <name>SAMOCA</name>
    <description>Sample app</description>
  <author href="samoca.org"
  email="support@samoca.org">
    Chris Griffith
  </author>
        <gap:platform name="ios" />
        <gap:platform name="android" />
        <gap:platform name="winphone" />
        <preference name="phonegap-version" value="3.3.0" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <preference name="webviewbounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="disallowOverscroll" value="true" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="prerendered-icon" value="false" />
        <preference name="android-minSdkVersion" value="14" />
        
  </widget>
